html, body{
	font-size:12px;
}

.menu-spacer{
	margin-left:5px !important;
}

.list{
	margin-right:20px;
}

.panel-heading{
	font-size:16px;
	font-weight:normal;
}

h1{
	font-size:22px;
	margin:0px;
	padding:0px;
	padding-bottom:20px;
	font-weight:normal;
	text-transform: capitalize;
}

h3{
	font-size:22px !important;
	margin:0px !important;
	padding:0px !important;
	font-weight:normal !important;
	text-transform: capitalize !important;
}

td{
	cursor:pointer;
}

.title{
	color:orange;
}

.pagination{
	margin:0px;
	padding:0px;
}

.pagination *{
	padding:5px;
	color:white;
	margin-right:1px;
}

.btnAddPermission{
	font-size:11px !important;
	width:40px !important;
}

.btnRemovePermission{
	font-size:11px !important;
	width:40px !important;
}

.navbar-brand{
	font-size:24px !important;
}

.panel-body{
	padding:10px;
}

.title{
	font-size:20px !important;
}
